.modal-backdrop {
	z-index:0 !important;
}

.alert .close {
	display:block!important;
}

/* password field overrides */

.password-strength {
	display:none;
}

input.password-confirm, input.password-field {
	width:100%;
}

.confirm-parent, .password-parent {
	width:100%;
}


/* LOGIN */
.login #heading {
	margin-bottom:15px;
}

.login label {
    background-color: #727272;
    color: white;
    margin: 0px;
    width: 110px;
    padding: 7px;
    padding-left: 20px;
    font-size:12px !important;
}

.login .form-required {
	color:white!important;
}


.login #dog-logo {
	margin-bottom:15px;
}

.login input {
	border:1px solid lightgrey !important;
	border-radius: 0px;
	padding:20px 12px;
	
}

.login .login-panel-body{
	padding:25px
}

.login #edit-submit {
	border-radius:0px;
	padding:15px 15px;
	width:100%;
	font-size:1.5em;
}


.login .agree-text{
	font-size:12px!important;
}

/* CHECKOUT */

.checkout {
	padding-bottom:25px !important;
}

.checkout .panel-heading {
	padding-top: 10px;
	padding-bottom: 10px;
}

.checkout fieldset {
	background-color:white !important;
}

.checkout .form-required {
	color:#6EB2A5;
}

.checkout .form-type-textfield {
	width:100%;
}

.checkout .form-submit, .login .form-submit, 
.edit-profile-container .form-submit, .reset-password  .form-submit,
#user-pass-reset .form-submit{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#d70c76 !important;
    color:white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



/** billing info **/
	
.checkout-billing-payment-container {
	border:1px solid #ccc !important;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	background-color:white;
	margin-bottom:25px;
}


@media (max-width: 768px) { 
	.col-md-6.no-padding-left {
		padding-left:15px !important;
	}
	.col-md-6.no-padding-right {
		padding-right:15px !important;
	}
}

 
 
 @media screen and (min-width:501px) and (max-width:999px) {
   /* Tablet styles */
	.col-md-6.no-padding-left {
		padding-left:15px !important;
	}
	.col-md-6.no-padding-right {
		padding-right:15px !important;
	}
}


.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
	margin-bottom:0px;
}
	
/** payment info **/

.checkout #edit-commerce-payment-payment-details-credit-card-exp-month,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-year,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-month--2,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-year--2 {
	width:30%;
	display:inline;
}

.commerce-paypal-icon {
	top:0px;
	left:10px
}

label[for="edit-commerce-payment-payment-details-credit-card-exp-month"],
label[for="edit-commerce-payment-payment-details-credit-card-exp-month--2"]
{
	display:block;
}

/** login checkout **/

.login-checkout {
	background-color:#d70c76 !important;
	padding:25px;
	color:white!important;
	margin-bottom:25px;
}

.login-checkout .login-btn {
	width:100%;
}

.login-checkout .login-item {
	padding-top:15px;
}


/** coupons **/
	
.coupon-container {
	background-image:url('/sites/all/themes/daisyflo/img/theme/coupon-bg-image.jpg') !important;
    background-position-y: 531px;
    background-position-x: -100px;
    padding-top:20px;
    padding-bottom:40px;
    margin-bottom:25px;
}

.coupon-container .form-item {
	margin:0px;
}

	
.coupon-container #edit-commerce-coupon-coupon-code {
	background-color:#252525;
	border:1px solid white;
    color:white;
    padding:20px 12px !important;
    margin-bottom:10px;
}

.coupon-container table {
	width:100%;
}


.coupon-container table, 
.coupon-container table tr, 
.coupon-container table thead th, 
.coupon-container table tbody {
	background-color:#d70c76;
	border:0px;
	color:white !important;
	text-align:center;
	padding-top:10px;
	padding-bottom: 10px;
}

.coupon-container table tbody td{
	padding-bottom:10px;
	color:#252525!important;
	padding-top:5px;
}

.coupon-container table tbody td a{
	color:#252525!important;
}

#commerce-checkout-coupon-ajax-wrapper {
	margin-bottom:20px;
}



#commerce-checkout-coupon-ajax-wrapper .form-item, 
#commerce-checkout-coupon-ajax-wrapper input,
#commerce-checkout-coupon-ajax-wrapper legend,
#edit-account legend
{
	display:none
}

#commerce-checkout-coupon-ajax-wrapper .error {
	width: 100%;
	color: white;
    background: #4d9f29;
}

#commerce-checkout-coupon-ajax-wrapper .error {
  color: white;
  background: rgb(255, 159, 8);
  width: 80%;
}


/** shopping cart summary **/

.cart-summary {
	margin-bottom:25px;	
}

.cart-summary #cart-table {
	margin-bottom:0px;
	background-color: white;
}

.cart-summary #cart-table th {
	background-color:#F5F5F5;
}

.cart-summary #cart-table thead tr:first-child{
	border-left: 1px solid #ccc;
}

.cart-summary #cart-table thead tr:last-child{
	border-right: 1px solid #ccc;
}

.cart-summary #cart-table tbody tr:first-child{
	border-left: 1px solid #ccc;
}

.cart-summary #cart-table tbody tr:last-child{
	border-right: 1px solid #ccc;
}


.cart-summary #cart-table div.price p, .cart-summary #cart-table div.sub-total p  {
  color: #00A7AC;
  font-size: 1.5em;
  margin-top:45px;
}

.cart-summary #cart-table div.quantity p {
  margin-top:45px;
}

.cart-summary #cart-table .thumb img {
	height: 110px;
}

.component-title,
.component-total {
	background-color:white!important;
}


.cart-summary .commerce-order-handler-area-order-total .commerce-price-formatted-components {
	width:100%
}

.cart-summary .commerce-order-handler-area-order-total tbody {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:white !important;
}

.cart-summary .commerce-order-handler-area-order-total tbody>tr {
	border:0px;
}

.cart-summary .commerce-order-handler-area-order-total tbody>tr>td{
	padding-bottom:15px;
}

.cart-summary .commerce-price-formatted-components tbody>tr:first-child td:first-child,
.cart-summary .commerce-price-formatted-components tbody>tr:first-child td:last-child{
	padding-top:30px;
}

.cart-summary .commerce-order-handler-area-order-total .component-type-commerce-price-formatted-amount td {
	padding-bottom:30px;
}

.cart-summary .commerce-order-handler-area-order-total .component-type-commerce-price-formatted-amount td:last-child {
}

.cart-summary .commerce-order-handler-area-order-total .component-title{
	font-size: 1.2em;
	width:80%;
	text-align: right;
	padding-right: 10px;
}

.cart-summary .commerce-order-handler-area-order-total .component-total{
	font-size: 1.2em;
	width:20%;
	text-align:center;
}


/** DASHBOARD **/
	
.buy-now-container .form-submit {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #d70c76;
    color:white;
    border-color: #d70c76;
	display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}	

/** POP UPS **/

#expired_courses_modal .modal-header{
	background-color:#D70C77 !important;
	border:0px !important;
}

#expired_courses_modal .modal-body{
	background-color:#BE0B67;
}

#expired_courses_modal .modal-body a {
	color:white;
	text-decoration:underline;
}

#expired_courses_modal .close  {
 	text-shadow: 0 0px! important; 
 	filter: none !Important;
	opacity: 1 !Important;
	background-color: black;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    color: white;
    font-size:17px!Important;
}

#expired_courses_modal .modal-body:nth-child(odd) {
   background-color: #A30A5A;
}

/* CERTIFICATE */

.certificate-panel {
	border-radius: 0px !Important;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
}

.certificate-panel .course-info {
	margin-left:15px;
}

.certificate-panel .course-info span {
	margin-bottom:10px;
}

.certificate-panel .panel-body {
	border-radius: 0px !Important;
	padding:25px 25px;
}

.certificate-panel .panel-heading {
	border-radius: 0px !Important;
	padding:25px 25px;
	border-bottom:0px;
}

.certificate-panel .panel-heading h3 {
	font-size: 1.2em;
}

.certificate-panel .course-thumbnail-placeholder{
	width:190px;
}

.certificate-holder {
	position:relative;
	top:-44px;
	right:10px;
	float:right;
	background-color:#A30A5A;
	padding:25px;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #d70c76 ;
	margin:0 auto;
}

/* USER EDIT PROFILE */

.page-user-edit .courses #title-wrapper, 
.page-user-edit .courses #tabs{
	display:none!important;	
}

.form-container {
	padding:30px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
	border:1px solid #ccc;
}


.edit-profile-container .form-submit {
	border-radius:0px;
	font-size:1.3em;
	padding:3% 10%;
}

.edit-profile-container .form-control {
	background-color:#EBEBEB;
	border-radius:0px;
	border:1px solid #A0A0A0 !important;
}

.edit-profile-container label, .edit-profile-container .form-required{
	color:#d70c76;
}

#user-pass-reset .form-control{
	width:50%;
}


