.modal-backdrop {
	z-index:0 !important;
}

.alert .close {
	display:block!important;
}

/* password field overrides */

.password-strength {
	display:none;
}

input.password-confirm, input.password-field {
	width:100%;
}

.confirm-parent, .password-parent {
	width:100%;
}


/* CHECKOUT */

.checkout {
	padding-bottom:25px !important;
}

.checkout .panel-heading {
	padding-top: 10px;
	padding-bottom: 10px;
}

.checkout fieldset {
	background-color:white !important;
}

.checkout .form-required {
	color:#6EB2A5;
}

.checkout .form-type-textfield {
	width:100%;
}


/** billing info **/
	
.checkout-billing-payment-container {
	border:1px solid #ccc !important;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	background-color:white;
	margin-bottom:25px;
}


@media (max-width: 768px) { 
	.col-md-6.no-padding-left {
		padding-left:15px !important;
	}
	.col-md-6.no-padding-right {
		padding-right:15px !important;
	}
}

 
 
 @media screen and (min-width:501px) and (max-width:999px) {
   /* Tablet styles */
	.col-md-6.no-padding-left {
		padding-left:15px !important;
	}
	.col-md-6.no-padding-right {
		padding-right:15px !important;
	}
}


.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
	margin-bottom:0px;
}
	
/** payment info **/

.checkout #edit-commerce-payment-payment-details-credit-card-exp-month,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-year,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-month--2,
.checkout #edit-commerce-payment-payment-details-credit-card-exp-year--2 {
	width:30%;
	display:inline;
}

.commerce-paypal-icon {
	top:0px;
	left:10px
}

label[for="edit-commerce-payment-payment-details-credit-card-exp-month"],
label[for="edit-commerce-payment-payment-details-credit-card-exp-month--2"]
{
	display:block;
}

/** login checkout **/

.login-checkout {
	background-color:#d70c76 !important;
	padding:25px;
	color:white!important;
	margin-bottom:25px;
}

.login-checkout .login-btn {
	width:100%;
}

.login-checkout .login-item {
	padding-top:15px;
}


/** coupons **/
	
.coupon-container {
	background-image:url('/sites/all/themes/daisyflo/img/theme/coupon-bg-image.jpg') !important;
    background-position-y: 531px;
    background-position-x: -100px;
    padding-top:20px;
    padding-bottom:40px;
    margin-bottom:25px;
}

.coupon-container .form-item {
	margin:0px;
}

	
.coupon-container #edit-commerce-coupon-coupon-code {
	background-color:#252525;
	border:1px solid white;
    color:white;
    padding:20px 12px !important;
    margin-bottom:10px;
}

.coupon-container table {
	width:100%;
}


.coupon-container table, 
.coupon-container table tr, 
.coupon-container table thead th, 
.coupon-container table tbody {
	background-color:#d70c76;
	border:0px;
	color:white !important;
	text-align:center;
	padding-top:10px;
	padding-bottom: 10px;
}

.coupon-container table tbody td{
	padding-bottom:10px;
	color:#252525!important;
	padding-top:5px;
}

.coupon-container table tbody td a{
	color:#252525!important;
}

#commerce-checkout-coupon-ajax-wrapper {
	margin-bottom:20px;
}



#commerce-checkout-coupon-ajax-wrapper .form-item, 
#commerce-checkout-coupon-ajax-wrapper input,
#commerce-checkout-coupon-ajax-wrapper legend,
#edit-account legend
{
	display:none
}

#commerce-checkout-coupon-ajax-wrapper .error {
	width: 100%;
	color: white;
    background: #4d9f29;
}

#commerce-checkout-coupon-ajax-wrapper .error {
  color: white;
  background: rgb(255, 159, 8);
  width: 80%;
}


/** shopping cart summary **/

.cart-summary {
	margin-bottom:25px;	
}

.cart-summary #cart-table {
	margin-bottom:0px;
	background-color: white;
}

.cart-summary #cart-table th {
	background-color:#F5F5F5;
}

.cart-summary #cart-table thead tr:first-child{
	border-left: 1px solid #ccc;
}

.cart-summary #cart-table thead tr:last-child{
	border-right: 1px solid #ccc;
}

.cart-summary #cart-table tbody tr:first-child{
	border-left: 1px solid #ccc;
}

.cart-summary #cart-table tbody tr:last-child{
	border-right: 1px solid #ccc;
}


.cart-summary #cart-table div.price p, .cart-summary #cart-table div.sub-total p  {
  color: #00A7AC;
  font-size: 1.5em;
  margin-top:45px;
}

.cart-summary #cart-table div.quantity p {
  margin-top:45px;
}

.cart-summary #cart-table .thumb img {
	height: 110px;
}

.component-title,
.component-total {
	background-color:white!important;
}


.cart-summary .commerce-order-handler-area-order-total .commerce-price-formatted-components {
	width:100%
}

.cart-summary .commerce-order-handler-area-order-total tbody {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:white !important;
}

.cart-summary .commerce-order-handler-area-order-total tbody>tr {
	border:0px;
}

.cart-summary .commerce-order-handler-area-order-total tbody>tr>td{
	padding-bottom:15px;
}

.cart-summary .commerce-price-formatted-components tbody>tr:first-child td:first-child,
.cart-summary .commerce-price-formatted-components tbody>tr:first-child td:last-child{
	padding-top:30px;
}

.cart-summary .commerce-order-handler-area-order-total .component-type-commerce-price-formatted-amount td {
	padding-bottom:30px;
}

.cart-summary .commerce-order-handler-area-order-total .component-type-commerce-price-formatted-amount td:last-child {
}

.cart-summary .commerce-order-handler-area-order-total .component-title{
	font-size: 1.2em;
	width:80%;
	text-align: right;
	padding-right: 10px;
}

.cart-summary .commerce-order-handler-area-order-total .component-total{
	font-size: 1.2em;
	width:20%;
	text-align:center;
}


/** DASHBOARD **/
	
.buy-now-container .form-submit {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #d70c76;
    color:white;
    border-color: #d70c76;
	display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}	

/** POP UPS **/

#expired_courses_modal .modal-header{
	background-color:#D70C77 !important;
	border:0px !important;
}

#expired_courses_modal .modal-body{
	background-color:#BE0B67;
}

#expired_courses_modal .modal-body a {
	color:white;
	text-decoration:underline;
}

#expired_courses_modal .close  {
 	text-shadow: 0 0px! important; 
 	filter: none !Important;
	opacity: 1 !Important;
	background-color: black;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    color: white;
    font-size:17px!Important;
}

#expired_courses_modal .modal-body:nth-child(odd) {
   background-color: #A30A5A;
}


/** NEW ----------------------------------------------------------------------- **/

/** FORM SUBMITS **/
.checkout .form-submit, .login-container .form-submit, 
.edit-profile-container .form-submit, .reset-password  .form-submit,
#user-pass-reset .form-submit{
    border-radius: 4px;
    padding: 10px 20px;
    background-color:#FF9600;
    color:white;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** HEADER **/
	
.navbar-brand {
	width:225px; 
	height:94px;
	padding:0px;
}

.navbar-left {
	padding-left:40px!important;
}

.btn.login {
	margin-right:5px;
	border:2px solid white !important;
	color:white !important;
	padding:5px 20px !important;
	font-size:12px !important;
	border-radius: 4px !important;
	background-color:#252525 !important;
}

.search {
	margin-right:10px;
}

.navbar-nav {
	margin-top:35px;
}

.btn.register {
	padding:5px 20px !important;
	font-size:12px !important;
	border-radius: 4px !important;
}

/** LOGIN  **/
.full-banner {
	padding:0px;
	width:100%;
	min-height:420px;
	margin-top:-40px;
}

.full-banner h1 {
	font-size:4em !Important;
}

.full-banner h2 {
	font-size:2.4em !Important;
}


.login-container {
	position:relative;
	top:-300px;
	z-index:2;
	left:0px;
}

.login-container .already-title {
	font-size:2.0em !Important;
	padding-bottom:20px;
}

.login-container .panel-default {
	border:2px solid #CACACA;
	border-radius:20px;
}

.login-container .panel-default .panel-heading {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}


.login-container input {
	border:2px solid #D7D7D7 !important;
	border-radius: 10px;
	padding:25px 0px;
	text-align:center;
	font-family:'Roboto-Regular';
}

.login-container .login-panel-body{
	padding:5% 10%;
}

.login-container .form-submit {
    width:90%;
   background-color:#FF9600 !important;
   padding:15px !important;
   font-size:1.8em !important;
   border-radius: 20px !important;
   border:0px!important;
}

#login-fb {
	font-size:15px;
	margin-bottom:20px;
}

.jumbotron.login-bottom-banner {
	background-color:#F3F3F3;
}

.login-bottom-header {
	margin-bottom:20px;
}

.login-bottom-header-2 {
	margin:20px 0px;
	font-size:13px;	
}

.login-jumbotron {
	background-color:white;
}

.login-field-container label, .edit-profile-container label{
	display:none !important;
}


/* USER EDIT PROFILE */

.page-user-edit .courses #title-wrapper, 
.page-user-edit .courses #tabs{
	display:none!important;	
}

.form-item-files-picture-upload input[type="file"] {
	display: none;
}

.form-item-files-picture-upload label { 
	background: url('/sites/all/themes/daisyflo/img/theme/upload.png') no-repeat;
	display:inline-block !important;
	text-indent: -9999px;  
}

.form-item-files-picture-upload {
display: inline-block;
}
.form-item-files-picture-upload label {
display: block;
width: 307px;
height:50px;
}

.no-padding-user .region-content {
	padding:0px !important;
}

/* CERTIFICATE */

#title-header h1 {
	color:#0072FF !important; 
}

.certficate-container .course-thumbnail-placeholder{
	min-height:172px !important;
}

.cert-view-btn {
	margin-top:10px;
}

.page-certficates #title-wrapper h1 {
	display:none!important;
}





